/***************************
GENERAL
***************************/

a {
	text-decoration: none;
}

#content {
	margin-left: 13.5%;
}

h2 {
	margin-top: 0;
	text-align: center;
	padding-top: 30px;
	font-family: 'Homemade Apple', cursive;
}

h1 {
	font-family: 'IM Fell English', serif;
	text-align: center;
	font-size: 2.75em;
	color: #000;
	padding: 0;
}

h3 {
	font-family: 'IM Fell English', serif;
	text-align: center;
}

p {
	font-family: 'IM Fell English', serif;
}


/***************************
SIDEBAR
***************************/

#sidebar {
	position: fixed;
	width: 13.5%;
	height: 100%;
	/*border-right: 1px solid black;*/
	background-color: #2980b9;
}

#logo {
	padding-left: 10px;
}

.navlink {
	text-align: center;
}

.inactive {
	color: #000;
	font-size: 1.2em;
	font-family: 'Homemade Apple', cursive;
	line-height: 3em;
}

.link_active:before {
	content: '> ';
}

.link_active:after {
	content: ' <';
}

#navbar {
	margin-top: 50px;
}

#port_pic {
	border-radius: 15px;
	max-width: 75%;
	margin-left: 12.5%;
	border: 2px solid white;
}

.seperator {
	width: 90%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}


/***************************
PORTFOLIO
***************************/

#portfolio {
	height: 100vh;
	font-family: 'IM Fell English', serif;
}

#portfolio ul {
	width: 70%;
	margin: 0 auto;
	padding: 0;
}

#portfolio li {
	width: 33%;
	list-style: none;
	font-size: 2em;
	display: inline-block;
	text-align: center;
	margin-top: 25px;
	color: #000;
}

#portfolio li a {
	text-decoration: none;
	color: #000;
}

#portfolio li a:visited {
	color: #000;
}

#project_div {
	margin: 50px auto 0;
	width: 80%;

}

.project_pic {
	width: 48%;
	padding-right: 20px;
	border-right: 1px solid black;
	float: left;
}

.project_pic img {
	width: 100%	;
}

.project_desc {
	width: 47%;
	padding-left: 20px;
	float: right;
	line-height: 1.5em;
}


/***************************
ABOUT ME
***************************/

#about_me {
	height: 100vh;
}

#about_paragraph {
	width: 60%;
	margin: 0 auto;
	font-size: 1.25em;
}

#arrows {
	height: 55px;
	margin-left: 47.5%;
	margin-top: 50px;
	margin-bottom: 40px;
}

.cycle_content {
	font-family: 'IM Fell English', serif;
	text-align: center;
	line-height: 1.6em;
}

.cycle_content h3 {
	font-family: 'IM Fell English', serif;
}

.cycle_content ul {
	padding-left: 0;
}

.cycle_content li {
	list-style: none;
}

.cycle_content img {
	width: 20%;
	display: inline-block;
	border-radius: 5px;
}

.rotate {
    transform: rotate(360deg);
    transition: .7s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .7s;
}


/***************************
CONTACT
***************************/

#contact {
	height: 100vh;
	font-size: 1.25em;
}

#contact p {
	width: 45%;
	margin: 0 auto;
}

.contact_icon {
	display: inline-block;
	height: 60px;
	margin: 100px 6.15% 0;
	padding: 20px;
	border: 2px dashed black;
	border-radius: 5px 25px 5px;
}

#linkedin:hover {
	background-color: #3498db;
}

#facebook:hover {
	background-color: #2ecc71;
}

#twitter:hover {
	background-color: #f1c40f;
}

#email:hover {
	background-color: #9b59b6;
}

#github:hover {
	background-color: #c0392b;
}

#quote {
	margin-top: 75px;
}