/***************************
GENERAL
***************************/

a {
	text-decoration: none;
}

#content {
	margin-left: 13.5%;
}

h2 {
	margin-top: 0;
	text-align: center;
	padding-top: 30px;
	font-family: 'Homemade Apple', cursive;
}

h1 {
	font-family: 'IM Fell English', serif;
	text-align: center;
	font-size: 2.75em;
	color: #000;
	padding: 0;
}

h3 {
	font-family: 'Homemade Apple', cursive;
	text-align: center;
}


/***************************
SIDEBAR
***************************/

#sidebar {
	position: fixed;
	width: 13.5%;
	height: 100%;
	border-right: 2px solid white;
	background-color: #c3c6c0;
}

#logo {
	padding-left: 10px;
}

.navlink {
	line-height: 2em;
	padding-left: 10px;
	text-align: center;
	padding-left: 0;
}

.inactive {
	color: #000;
	font-size: 1.2em;
	font-family: 'Homemade Apple', cursive;
	line-height: 2.25em;
}

.link_active {
	color: #FFF;
}

#navbar {
	margin-top: 50px;
}

#port_pic {
	border-radius: 50%;
	max-width: 75%;
	margin-left: 12.5%;
	border: 2px solid white;
}

#sidebar_sep {
	width: 90%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}


/***************************
PORTFOLIO
***************************/

#portfolio {
	height: 100vh;
	background-color: #b2d6e0;
}

.port_item {
	width: 25%;
	margin: 20px 4%;
	display: inline-block;
	height: 50px;
	background-color: #000;
}


/***************************
ABOUT ME
***************************/

#about_me {
	height: 100vh;
	background-color: #7ab0bf;
}


/***************************
CONTACT
***************************/

#contact {
	height: 100vh;
	background-color: #327486;
}